# Environment variables
.env
*.env.*
!*.env.example

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE files
.vscode/
.idea/

# Build artifacts
build/
dist/
*.egg-info/

# OS files
.DS_Store
Thumbs.db
